{% extends 'base.html.twig' %}
{% block content %}
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-12">
                <a class="navbar-brand mb-2" href="{{ path('inicio') }}" id="enlace_inicio" data-toggle="tooltip" data-placement="top" title="Ir a inicio">
                    <img src="img/logo_inverso.png" alt="Logotipo" height="50"></a>
                    <div class="card-box" id="card_list_recetas">
                        <div class="row">
                            <div class="col">
                                <legend>
                                    Tus recetas favoritas                          
                                                                    
                                </legend>
                            </div>
                        </div>
                        {% if favoritas is not empty %}
                            <div class="container_favoritas">

                                {% include 'elements/lista_favoritas_table.html.twig' %}
                                
                            </div>
                        {% else %}
                            Todavía no a agregado ninguna favorita.                                           
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
    <script src="/js/favoritas.js"></script>
    {% endblock %}
    