/* Fuentes-------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Menú de bootstrap---------------------------------------------------------------- */

.navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,1) !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #703520 !important;
}

#menu_logo{
    height: 35px;
}

@media (max-width: 410px) {
    #menu_logo {
        height: 30px;  
    }
}

.dropdown-item:focus, .dropdown-item {
	color: #703520 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: #703520 !important;
	text-decoration: none;
	background-color: #f7dacc !important;
}

	
#barra_nav{
    position:fixed;
    width: 100%;
    z-index: 1;
}
 


/* Plantilla de bootstrap----------------------------------------------------------- */
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Nunito Sans', sans-serif;
}

footer p {
    margin-bottom: .25rem;
}

#search .bootstrap-tagsinput{
    line-height: 30px;
}

#search .focus{
	border: 1px solid #f4ad94 !important;
	outline: 0 !important;
	box-shadow: 0 0 0 .3rem rgba(214, 73, 21, 0.25) !important;
}

footer .fa-brands{
    color:#acadad
}

footer .fa-brands:hover{
    color:#828181
}

/*Start Search----------------------------------------------------------- */

#search{
    margin-bottom: 0;
    background-image: url('../img/mantel.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    position: relative;
    top: 40px;
    margin-bottom: 40px;
}

#search_text{
    color: white;
}

.search_header{
    color: #703520;
    font-weight: bold;
    
}


/*Start listado de recetas--------------------------------------------- */
.receta_card:hover{
    
}


.inicio_titulos{
    color: rgb(90, 90, 90);
    margin-bottom: 0px !important;
}

.receta_nombre{
    color: #bd461b;
    font-size: 25px;
}

img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.rdr-tag {
    text-decoration: none;
    font-size: 14px;
    color: #576673;
    display: inline-block;
    padding: .2em .8em;
    border-radius: 30px;
    background-color: #ebecec;
    margin: 0 .5em .5em 0;
}

.rdr-tag:hover {
    background-color: #f7dbc1;
    color:rgb(90, 90, 90);
    text-decoration: none;
}

#receta_valoracion{
    display: inline;
}

/*Start detalles de recetas--------------------------------------------- */

.detalleReceta_titulo{
    color: #bd461b;
    margin-bottom: 0px !important;
}

.detalleReceta_subtitulo{
    color: #bd461b;
}

.card-box{
    padding: 70px;
    background-color: white;
}

#ingredientes{
    margin-left: 0px;
    margin-right: 0px;
}

#ingredientes ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 0.5em 0;
    overflow-wrap: break-word;
    list-style: none;
    -webkit-padding-start: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}

#ingredientes ul li{
    background-color: transparent;
    padding: .40rem 1.25rem;
    color: #5c5c5c;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
}

@media only screen and (max-width: 800px) {
    #ingredientes ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }  
}

@media only screen and (max-width: 540px) {
    .card-box{
        padding: 30px;
        
    } 
}

#detalleReceta_fondoIngr{
    background-color: #f1ebe8;
    padding-top: 24px;
    padding-bottom: 24px;
}

.rdr-author {
    font-size: 14px;
    width: 30%;
    margin-top: 0;
    text-align: right;
}

.rdr-avatar {
    clip-path: circle(20px at center);
    vertical-align: middle;
}

#autor p{
    overflow-wrap: break-word;
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media only screen and (max-width: 800px) {
    #receta_autor {
        justify-content: flex-start !important;
    }
    
}

#titulo_separador{
    margin-bottom: 10px;
    margin-top: 10px;
}

#elaboracion p{
    font-family: 'Nunito Sans', sans-serif;
    color: #2C3032;
    font-size: 16px;
}

#elaboracion ol{
    list-style: none;
    counter-reset: li;
}

#elaboracion li{
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 15px;
    text-decoration: none;
    color: #2C3032;
    padding-bottom: 15px;
}

#elaboracion li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 1em;
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    color: #576673;
    background-color: #f5f7f7;
    text-align: center;
    padding: .3em .6em;
}

#elaboracion h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #5d5d5d;
    font-weight: bold;
}

#elaboracion ol li:not(:last-child) {
	border-bottom: solid 1px #dfe8eb;
}

#comentarios ul{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    border-bottom: solid 1px #dfe8eb;
}

@media only screen and (max-width: 992px) {
    #comentarios ul{
        margin-left: 0px;
        margin-right: 0px;
    }  
}

#comentarios p{
    font-family: 'Nunito Sans', sans-serif;
    color: #2C3032
}

#comentarios h5{
    font-family: 'Nunito Sans', sans-serif;
    color: #2C3032;
    font-weight: 200;
    font-size: 16px;
}

#comentarios span{
    font-family: 'Nunito Sans', sans-serif;
    color: #7a7a7a;
    font-size: 14px;
}

#comentarios h5 i{
    font-family: 'Nunito Sans', sans-serif;
    color: #bd461b;
}

#comentarios_form form{
    margin-left: 100px;
    margin-right: 100px;
}

@media only screen and (max-width: 992px) {
    #comentarios_form form{
        margin-left: 0px;
        margin-right: 0px;
    }  
}

#comentarios_form label{
    font-family: 'Nunito Sans', sans-serif;
    color: #5c5c5c;
}

#contenido_textarea{
    font-family: 'Nunito Sans', sans-serif;
    color: #5b5b5b;
    font-size: 16px;
}

.favorita_noselec{
    color:#d5d6d8;
}

.favorita_selec{
    color:#BD461B;
}

.div_visible{
    display: inline-block !important;
}

.div_novisible{
    display: none !important;
}

#D07351

/*Formulario registro--------------------------------------------- */

#card_formulario_registro{
    font-family: 'Nunito Sans', sans-serif;
    color: #5c5c5c;
    border-radius: 0px !important;
    background-color: #f4f4f4 !important;
}

#card_formulario_registro legend{
    color: #bd461b;
    font-size: 30px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#custom-nombre-error{
    display: none;
}

/*Formulario login---------------------------------------------------- */

#card_formulario_login{
    font-family: 'Nunito Sans', sans-serif;
    color: #5c5c5c;
    background-color: #f4f4f4;
}

#card_formulario_login legend{
    color: #bd461b;
    font-size: 30px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#msg_olvidar{
    margin-left: auto;
    margin-right: auto;
    color: #bd461b;
    font-weight: bold;

}

.message--error{
    display: none;
    border: red solid 1px;
    border-radius: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.message--error strong{
    color: red;
}

.message--error p{
    margin-bottom: 0px;
}

/*Listado de recetas del usuario---------------------------------------------------- */

#table_recetas_user td{
    vertical-align: middle;
    color: #5c5c5c;
}

#table_recetas_user td{
    vertical-align: middle;
    color: #5c5c5c;
}

#table_recetas_user #celda_nombre{
    min-width: 250px;
}

#card_list_recetas{
    font-family: 'Nunito Sans', sans-serif;
    color: #5c5c5c;
    background-color: #f4f4f4;
}

#card_list_recetas legend{
    color: #bd461b;
    font-size: 30px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

/*Añadir recetas----------------------------------------------------------------------- */

#card_add_recetas{
    font-family: 'Nunito Sans', sans-serif;
    color: #5c5c5c;
    background-color: #f4f4f4;
}

#card_add_recetas legend{
    color: #bd461b;
    font-size: 30px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#form_add_receta .bootstrap-tagsinput{
    max-width: 100% !important;
    width: 100% !important;
    border-radius: .25rem !important;
    -webkit-border-radius: .25rem !important;
    -moz-border-radius: .25rem !important;
    -ms-border-radius: .25rem !important;
    -o-border-radius: .25rem !important;
    border-color: #ced4da;
    padding: .6rem 1rem !important;
}

.fa-circle-info{
    color:rgb(0, 96, 160);
}

.dropdown-item{

    color: black !important;
}

.my-focus-class {
	color: #495057 !important;
	background-color: #fff !important;
	border-color: #f4ad94 !important;
	outline: 0 !important;
	box-shadow: 0 0 0 .2rem rgba(233,84,32,.25) !important;
}

.card-block:focus{
    border: 1px solid #f4ad94 !important;
}

.custom-file-label::after {
	content: "Seleccionar" !important;
}

.custom-file-label {
	height: calc(1.5em + 1rem + 2px) !important;
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
	padding-left: 1rem !important;
	font-size: 1.25rem !important;
    color: #757575 !important;
}

.custom-file-label::after {
	height: calc(2em + .75rem)  !important;
}

.custom-select{
    color: #757575 !important;
}

#custom-tags-error{
    display: none;
}

#custom-ingredientes-error{
    display: none;
}

#custom-elaboracion-error{
    display: none;
}

#custom-tiempo-error, #custom-numPersonas-error{
    display: none;
}

#customFile-error{
    margin-top: 15px !important;
}

/*Editar recetas----------------------------------------------------------------------- */

#img_receta_miniatura{
    border: 1px solid rgb(204, 204, 204);
    padding: 3px;
}

/*Errores de validacion de campos de formularios---------------------------------------- */

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

label.error::before {
    content: "❌ ";
}

input.error {
    border: 2px dotted red;
    font-weight: 300;
    color: red;
}

/*Errores de validacion personalizado para el campo nombree e addrecetas y editrecetas no mostrar contorno rojo del input---------------------------------------- */

label.errorPer {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

label.errorPer::before {
    content: "❌ ";
}


  /*Perfil de usuario------------------------------------------------------------------------------------------------------------------------------------------ */

  #img_usuario_miniatura{
   

    clip-path: circle(75px at center);
    vertical-align: middle;
}



.custom-file-user .custom-file-label::after {
	content: "Cambiar foto" !important;
}


#form_perfil h5{
    font-weight: bold;
}

#form_perfil i{
    display: inline;
}

#form_perfil .custom-file-label {
	height: calc(1.5em + 1rem + 2px) !important;
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
	padding-left: 1rem !important;
	font-size: 1rem !important;
    color: #757575 !important;
}

#form_perfil .custom-file-label::after{
    padding: .500rem .75rem !important;
    background-color: #E95420 !important;
    color: white !important;
}

label.success {
    color: rgb(2, 179, 25);
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

label.success::before {
    content: "✅ ";
}

#custom-nombre-success {
    display: none;
}

#custom-email-success{
    display: none
}

#custom-nombre-error{
    display: none;
}

#custom-password-error{
    display: none;
}

#custom-password-success {
    display: none;
}

 /*Estilos toastr------------------------------------------------------------------------------------------------------------------------------------------ */

#toast-container > .toast {
    background-image: none !important;
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}        
#toast-container > .toast-warning:before {
    content: "\f06a";
}

#toast-container > .toast-success:before {
    content: "\f00c";
}








