<!--Element Footer-->
<footer class="text-muted">
	<div class="container">
		<p class="float-right">
			<a href="#">Volver arriba</a>
		</p>
		<div class="mb-4">
			<img src="/img/logo_footer.png" width="350">
			<hr class="mb-1">
			<p>Una web para para ayudarte a decidir tu menú con lo que encuentres en tu cocina.</p>
		</div>
		<div class="">
			<p><i class="fa-solid fa-user-pen mr-2"></i>Juan Carlos Guzmán Domínguez</p>
			<p><i class="fa-solid fa-phone mr-2"></i>659 58 34 94</p>
			<p><i class="fa-sharp fa-solid fa-envelope mr-2"></i>jcguzmad@gmail.com<p>
		</div>
		<div class="mt-3">
			<a href="https://www.linkedin.com/in/juan-carlos-guzm%C3%A1n-dom%C3%ADnguez-3ab730141/"><i class="fa-brands fa-linkedin fa-xl mr-3"></i></a>
			<a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-xl mr-3"></i></a>
			<a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-xl mr-3"></i></a>	
		</div>
		
	</div>
</footer>

