<!--Element Search-->
<section class="jumbotron text-center" id="banner">
	<div class="container">
		<h1>Déjenos ayudarle</h1>
		<p class="lead" id="texto-banner">Es muy sencillo, sólo díganos que ingredientes tiene en su cocina y nosotros buscaremos su receta.</p>
    <div class="form-group">
      <input class="form-control form-control-lg" type="text" placeholder="Introduzca los ingredientes..." id="inputLarge">
    </div>
	</div>
</section>