<!--Element Search-->
<section class="jumbotron text-center" id="search">
	<div class="container">
		<h1 class="search_header">Déjenos ayudarle</h1>
		<p class="lead" id="search_text">Es muy sencillo, sólo díganos que ingredientes tiene en su cocina y nosotros buscaremos su receta.</p>
    <div class="form-group">
      <input class="form-control form-control-lg" type="text" placeholder="Introduzca los ingredientes..." id="inputLarge">
    </div>
	</div>
</section>