<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<!-- CSS -->
		<link href="css/styles.css" rel="stylesheet" type="text/css">
		<link
		href="/libs/bootstrap4/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet"/>
		<!-- JS Fontawesone -->
		<script src="https://kit.fontawesome.com/eb9a666b3e.js" crossorigin="anonymous"></script>
		<!-- Bloque CSS personalizados-->
		{% block stylesheets %}{% endblock %}
	</head>
	<body>

		<!-- Menú de navegación -->
		{% if 1 == 1 %}
			{{include('menus/menuAnonimos.html.twig')}}
		{% else %}
			{{include('menus/menuRegistrados.html.twig')}}
		{% endif %}

		<!-- Bloque buscador -->
		{% block search %}{% endblock %}

		<div class="album py-4 bg-light">
			<div class="container">
				<!-- Bloque contenido dinámico -->
				{% block content %}{% endblock %}
			</div>
		</div>

		<!-- Bloque pie de página -->
		{% if 1 == 1 %}
			{{include('elements/footer.html.twig')}}
		{% endif %}

		<!-- JS -->
		<script src="/libs/jquery/jquery-3.6.0.min.js"></script>
		<script src="/libs/bootstrap4/bootstrap.bundle.min.js"></script>
		<!--Bloque JS personalizados-->
		{% block javascripts %}{% endblock %}
	</body>
</html>
