<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Responsive bootstrap 4 admin template" name="description"/>
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>
			{% block title %}{% endblock %}
		</title>
		<!-- Custom CSS -->
		<link href="css/styles.css" rel="stylesheet" type="text/css">
		<!-- App CSS -->
		<link href="/libs/bootstrap4/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="/libs/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css"/>
		<link href="/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css"/>
	
		<!-- JS Fontawesone -->
		<script src="https://kit.fontawesome.com/eb9a666b3e.js" crossorigin="anonymous"></script>
		<!-- Bloque CSS personalizados-->
		{% block stylesheets %}{% endblock %}
	</head>
	<body>

		<!-- Menú de navegación -->
		{% block menu %}{% endblock %}
		
		<!-- Bloque buscador -->
		{% block search %}{% endblock %}

		<!-- Bloque contenido dinámico -->
		{% block content %}{% endblock %}


		<!-- Bloque pie de página -->
		{% block footer %}{% endblock %}

		<!-- App JS -->
		<script src="/libs/jquery/jquery-3.6.0.min.js"></script>
		<script src="/libs/bootstrap4/bootstrap.bundle.min.js"></script>
		<script src="/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
		<script src="/libs/sweetalert2/sweetalert2.min.js"></script>
		<script src="/libs/jquery-validate/jquery.validate.min.js"></script>
		<script src="/js/app.js"></script>
		<!--Bloque JS personalizados-->
		{% block javascripts %}{% endblock %}
	</body>
</html>
