{% extends 'base.html.twig' %}

{% block title %}
	
{% endblock %}

{% block content %}

	<!--Contenido dinámico -->
    {{usuario.Nombre}} - id {{usuario.id}}

favoritas
    {% for favorita in usuario.favoritas %}
		<li class="list-group-item">{{ favorita.nombre }}</li>
	{% endfor %}
favoritas
    {{dump(usuario)}}
	


{% endblock %}
