{% extends 'base.html.twig' %}

{% block title %}
	Inicio
{% endblock %}

{% block search %}
	{{include('elements/search.html.twig')}}
{% endblock %}

{% block content %}
	<!--Contenido dinámico -->
	<div id="container_searchRecetas">
		{% include 'elements/recetas_inicio.html.twig' %}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="/js/recetas.js"></script>
{% endblock %}
